.col-xs-3.container
  %span
    = image_tag("products/#{product.id}a.jpg", :alt => "rss feed", :class => "img-responsive")
  %span.col-md-offset-3
    %input{id: "quick_look#{product.id}",type: 'button', class: 'quick_look', value: 'Quick Look', "data-target" => "#myModal#{product.id}", "data-toggle" => "modal"}
    %div.modal{id: "myModal#{product.id}", "aria-hidden" => "true",  :role => "dialog"}
      .modal-dialog
        .modal-content
          .modal-body
            .row
              %button.close{"data-dismiss" => "modal", :type => "button"} ×
              .col-xs-8
                %span
                  %div.carousel.slide{id: "productCarousel#{product.id}"}
                    .carousel-inner
                      - Dir.glob("./app/assets/images/products/#{product.id}?.jpg").each_with_index do |image_path, i|
                        = render "modal_carousal", image: image_path, class_active: i == 0 ? 'active' : ''
                    %a.left.carousel-control-new{"data-slide" => "prev", :href => "#productCarousel#{product.id}"}
                      %span.glyphicon.glyphicon-chevron-left
                      %span.sr-only Previous
                    %a.right.carousel-control-new{"data-slide" => "next", :href => "#productCarousel#{product.id}"}
                      %span.glyphicon.glyphicon-chevron-right
                      %span.sr-only Next
                  / /.carousel
              .col-xs-4.description
                Add to Cart
                = "#{product.id}"

