%script{:src => "https://code.jquery.com/jquery-2.1.4.min.js"}
%script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"}
%script{:src => "./app/assets/javascripts/foobar.js"}
:javascript
  $( document ).ready(function(){
    $('#mainCarousel').carousel({
      interval: 4000,
    })
    $('#categoryCarousel1').carousel({
      interval: false
    })
    $('#categoryCarousel2').carousel({
      interval: false
    })
    $('#categoryCarousel3').carousel({
      interval: false
    })
  });

#mainCarousel.carousel.slide
  / Indicators
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#mainCarousel"}
    %li{"data-slide-to" => "1", "data-target" => "#mainCarousel"}
    %li{"data-slide-to" => "2", "data-target" => "#mainCarousel"}
  .carousel-inner
    .item.active
      = image_tag('home_main_carousal/e.jpg', :alt => "rss feed", :class => "img-responsive")
    .item
      = image_tag('home_main_carousal/epic.jpg', :alt => "rss feed", :class => "img-responsive")
    .item
      = image_tag('home_main_carousal/idea.jpg', :alt => "rss feed", :class => "img-responsive")
  %a.left.carousel-control{"data-slide" => "prev", :href => "#mainCarousel"}
    %span.glyphicon.glyphicon-chevron-left
    %span.sr-only Previous
  %a.right.carousel-control{"data-slide" => "next", :href => "#mainCarousel"}
    %span.glyphicon.glyphicon-chevron-right
    %span.sr-only Next
/ /.carousel


.pageContainer
  .row.vertical-divider
    .col-xs-2
      %hr
      .product
        .theme New Launch
        = image_tag('new_launch_home.png', :alt => "rss feed", :class => "img-responsive")
        .description Pumpkin launches its new products Elantra in Pressure Cookers and Hard Anodized Cookwares
        %a.btn.button.view_more{href: '/about_us'} View More
      %hr
      .product
        .theme About Us
        = image_tag('about_us_home.png', :alt => "rss feed", :class => "img-responsive")
        .description Pumpkin is a fast growing brand setup by Sunil Steel Industries in Pressure Cookers and in Cookwares
        %a.btn.button.view_more{href: '/about_us'} View More
    .col-xs-10#products
      = render "product_categories", product_categories: @products_with_categories

      .row
        %button.center.col-md-12
          %span
            View All Products
          %span.view_all.glyphicon.glyphicon-chevron-right


