.col-xs-4.container
  %span
    = image_tag("products/#{product.id}a.jpg", :alt => "rss feed", :class => "img-responsive")
    = form_for order_item, remote: true do |f|
      %h5.text-left
        Price:
        %span= number_to_currency product.price
      %hr
      %h4= product.name
      .input-group
        %span
          %input.btn.btn-primary{id: "view_in_detail#{product.id}",type: 'button', class: 'view_in_detail', value: 'Quick View', "data-target" => "#productModal#{product.id}", "data-toggle" => "modal"}
          %div.modal{id: "productModal#{product.id}", "aria-hidden" => "true",  :role => "dialog"}
            .modal-dialog
              .modal-content
                .modal-body
                  .row
                    %button.close{"data-dismiss" => "modal", :type => "button"} ×
                    .col-xs-8
                      %span
                        %div.carousel.slide{id: "productDetailCarousel#{product.id}"}
                          .carousel-inner
                            - Dir.glob("./app/assets/images/products/#{product.id}?.jpg").each_with_index do |image_path, i|
                              = render "modal_carousal", image: image_path, class_active: i == 0 ? 'active' : ''
                          %a.left.carousel-control-new{"data-slide" => "prev", :href => "#productDetailCarousel#{product.id}"}
                            %span.glyphicon.glyphicon-chevron-left
                            %span.sr-only Previous
                          %a.right.carousel-control-new{"data-slide" => "next", :href => "#productDetailCarousel#{product.id}"}
                            %span.glyphicon.glyphicon-chevron-right
                            %span.sr-only Next
                    / /.carousel
                    .col-xs-4
                      = form_for order_item, remote: true do |f|
                        %h5.text-left
                          Price:
                          %span= number_to_currency product.price
                        %hr
                        %h4= product.name
                        .input-group
                          %span
                            = f.number_field :quantity, value: "#{@order.order_items.where(product_id: product.id).first.try(:quantity) || 1}", class: "form-control", min: 1
                          %span.input-group-btn
                            = f.hidden_field :product_id, value: product.id
                            = f.submit "Add to Cart", class: "btn btn-primary cart-text add-to-cart-btn"
        %span
          = f.number_field :quantity, value: "#{@order.order_items.where(product_id: product.id).first.try(:quantity) || 1}", class: "form-control quantity", min: 1
        %span.input-group-btn
          = f.hidden_field :product_id, value: product.id
          = f.submit "Add to Cart", class: "btn btn-primary cart-text add-to-cart-btn"



