!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Pumpkin
    %link{:href => "/assets/favicon.ico", :rel => "icon"}/
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag "foobar"
    = csrf_meta_tags
  %body
    .row.page-title.header
      .col-xs-1.pumpkin-logo
        = image_tag("favicon.ico", :class => "img-responsive")
      .col-xs-6
        .input-group.search-box
          %select#sample_search.form-control
            %option{:value => ""} Search for Products, Categories and More
          .input-group-btn
            %button.btn.btn-info.orange-color
              %span.glyphicon.glyphicon-search
      .col-xs-1
      .col-xs-2.header_cart
        %a.color-white.cart{:href => "/carts/show"}
          %span4.shopping-cart
            %i.fa.fa-shopping-cart.fa-3x{"aria-hidden" => "true"}
            %span.cart-count #{@order.order_items.sum(:quantity)}
      .col-xs-2
        - if !current_page?(controller: 'admin', action: 'orders')
          %span.contact-details
            %i.fa.fa-fax{"aria-hidden" => "true"}
            %a.color-white{:href => "#"} +91-1676-220738
            .email-details
              %i.fa.fa-envelope-o{"aria-hidden" => "true"}
              %a.color-white{:href => "mailto:info@pumpkinzone.in"} info@pumpkinzone.in
            %div
              %i.fa.fa-mobile{"aria-hidden" => "true"}
              %a.color-white{:href => "#"} +91-921-7867546
    .row.menu_bar
      %ul.nav.nav-tabs
        %li
          %a#home{:href => "/"} Home
        %li
          %a#about_pumpkin{:href => "/about_us"} About Pumpkin
        %li
          %a#our_products{:href => "/products"} Our Products
        %li
          %a#certificates.mobile{:href => ""} Certificates
        %li
          %a#contact_us{:href => ""} Contact Us
        %li
          %a#useful_links.mobile{:href => ""} Useful Links
    .row.content
      %div{:style => "height: 130px"}
      - flash.each do |type, message|
        %div{:class => "alert success fade in success-msg"}
          %button.close{"data-dismiss" => "alert"} ×
          = message
      = yield
    %footer.row.footer{:style => "height: 100%"}
      %div
        %h2{:style => "margin-top: 0px"} Connect with us
      %div
        %span.footer-link
          %a{:href => 'http://www.facebook.com', :target => "_blank"}
            %i.fa.fa-facebook-square.fa-3x{"aria-hidden" => "true"}
        %span.footer-link
          %a{:href => 'http://www.twitter.com', :target => "_blank"}
            %i.fa.fa-twitter-square.fa-3x{"aria-hidden" => "true"}
        %span.footer-link
          %a{:href => 'http://www.youtube.com', :target => "_blank"}
            %i.fa.fa-youtube-square.fa-3x{"aria-hidden" => "true"}
        %span.footer-link
          %a{:href => 'https://in.pinterest.com/', :target => "_blank"}
            %i.fa.fa-pinterest-square.fa-3x{"aria-hidden" => "true"}
      %div
        Copyright @ Pumpkinzone
